::-webkit-scrollbar {width: 8px; overflow-x:hidden; height: 8px;}
::-webkit-scrollbar-track {background: transparent}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #999;}
select {width: 400px;}
.chosen-container .chosen-results li.highlighted{background-color: #4CAF50;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(20%,#4CAF50),color-stop(90%,#4CAF50));}

.top1 {width: 12%; height: 15%; float: left;}
       
.top2 {width: 88%; height: 15%; float: left;}

.unlist {height:48px; font-size: 17px; list-style-type: none; margin: 0; padding: 0; overflow: hidden; 
         margin-bottom: 10px; background-color: #222; }
.list {float: left;}
.list a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
.list a:hover:not(.active) {background-color: #111;}
.active {background-color: #4CAF50;} 

.dropbtn {background-color: #444; color: white; padding: 16px; font-size: 14px; border: none;
          cursor: pointer;}
.dropdown {position: relative; display: inline-block;}
.dropdown-content {display: none; position: absolute; right: 0; background-color: #333; min-width: 160px;
                  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3); z-index: 1;}
.dropdown-content a {color: white; padding: 12px 16px; text-decoration: none; display: block;}
.dropdown-content a:hover {background-color: #111;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #111;}

.left1 {width: 12%; height: 100%; float: left;}

.content1 {width: 68%; height: max-content; float: left;}

.right1 {width: 20%; height: 100%; float: left;}


.bottom2 {width: 100%; height: 19%; background-color: #444; float: left;}

.bottoma {color: wheat;}
.bottoma:hover {color: skyblue;} 
body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
select { background-color: black; }

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}
